// Quasar theme
$primary   : #3fb0ac;
$secondary : #dddfd4;
$accent    : #173e43;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

.body--light {
  background: #fffdf8
}

.body--dark {
  background: #000
}
